[Unit]
Description=CKB Miner
After=network.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
RestartSec=2
User=ckb
Group=ckb
ExecStart={{ ckb_workspace }}/ckb miner -C {{ ckb_workspace }}

[Install]
WantedBy=multi-user.target
